/* xxs */
/* @media screen and (min-width: 300px) {

} */

/* xs */
/* @media screen and (min-width: 475px) {

} */

/* sm */
/* @media screen and (min-width: 640px) {

} */

/* md */
/* @media screen and (min-width: 768px) {

} */

/* lg */
/* @media screen and (min-width: 1024px) {

} */

/* xl */
/* @media screen and (min-width: 1280px) {

} */

/* 2xl */
/* @media screen and (min-width: 1536px) {

} */



.section {
  margin-top: 2rem;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.hero__container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}


/* xs */
@media screen and (min-width: 475px) {
  .container {
    width: 475px;
  }

  .hero-container {
    width: 475px;
  }
}

/* sm */
@media screen and (min-width: 640px) {
  .container {
    width: 640px;
  }

  .hero-container {
    width: 640px;
  }
}

/* md */
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }

  .hero-container {
    width: 768px;
  }
}

/* lg */
@media screen and (min-width: 1024px) {
  .container {
    width: 1024px;
  }
}

/* xl */
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}

/* 2xl */
@media screen and (min-width: 1536px) {
  .container {
    width: 1536px;
  }
}



/* Nav Bar */

.nav {
  background: var(--color-dark);
  padding: 1rem 0;
}

.nav__content {
  display: block;
  align-items: center;
  padding-bottom: 1.5rem;
}

.nav__base {
  display: flex;
  margin-right: auto;
  align-items: center;
}

.nav__extension {
  display: block;
}

.nav__list {
  display: none;
  justify-content: center;
  align-items: center;
  padding: 1rem 1.5rem;
  max-height: 0;
  max-width: 0;
  opacity: 0;
  transition: all .3s;
}

.nav__title {
  font-weight: 700;
  padding-left: 2rem;
  margin-right: auto;
}

.nav__menu {
  cursor: pointer;
  transition: all 0.3s;
}

.nav__links {
  cursor: pointer;
  padding: .5rem 2rem;
}

.nav__links:hover {
  color: #aaaaaa;
}


/* Mobile Menu Toggle */

.expanded .nav__menu {
  transform: rotate(90deg);
}

.expanded .nav__list {
  display: flex;
  max-height: 100vh;
  max-width: 100vw;
  opacity: 1;
}


/* xs */
@media screen and (min-width: 475px) {
  .nav__title {
    font-size: 2.25rem;
   }
}

/* sm */
@media screen and (min-width: 640px) {
  .nav__content {
    display: flex;
  }

  .nav__menu {
    display: none;
  }

  .nav__list {
    display: flex;
    max-height: 100vh;
    max-width: 100vw;
    opacity: 1;
  }

  .nav__title {
    font-size: 2.5rem;
   }
}

/* md */
@media screen and (min-width: 768px) {
  .nav__title {
   font-size: 2.75rem;
  }

  .nav__links {
  font-size: 2.25rem;
  }
}

/* lg */
@media screen and (min-width: 1024px) {
  .nav__title {
    font-size: 3rem;
   }
 
   .nav__links {
   font-size: 2.5rem;
   }
}

/* xl */
@media screen and (min-width: 1280px) {
  .nav__title {
    font-size: 3.5rem;
   }
 
   .nav__links {
   font-size: 2.75rem;
   }
}

/* 2xl */
@media screen and (min-width: 1536px) {
  .nav__title {
    font-size: 4rem;
   }
 
   .nav__links {
   font-size: 3rem;
   }
}



/* Hero Block */

.hero {
  background: url(../images/bannerimg.webp);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0 0 0 10rem;
  height: 60rem;
}

.hero__heading {
  padding-top: 1rem;
  padding-left: 1rem;
  font-size: 5rem;
  font-weight: 600;
}

.hero__text {
  padding-left: 1rem;
}



/* xxs */
@media screen and (min-width: 300px) {
  .hero__heading {
    font-size: 5.5rem;
  }

  .hero__text {
    font-size: 2.25rem;
  }
}

/* xs */
@media screen and (min-width: 440px) {
  .hero {
    height: 80rem;
  }
  
  .hero__heading {
    font-size: 8rem;
  }
  
  .hero__text {
    font-size: 2.5rem;
  }
}

/* sm-ish */
@media screen and (min-width: 590px) {
  .hero {
    height: 90rem;
  }
}

/* sm */
@media screen and (min-width: 640px) {
  .hero {
    background-position: 0 60%;
  }

  .hero__heading {
    font-size: 9rem;
  }
  
  .hero__text {
    font-size: 3rem;
  }
}

/* md */
@media screen and (min-width: 768px) {
  .hero {
    background-position: 0 75%;
  }
}

/* md-ish */
@media screen and (min-width: 900px) {
  .hero {
    margin-left: auto;
    width: 70%;
  }

  .hero-container {
    width: 100%;
  }
}

/* lg */
/* @media screen and (min-width: 1024px) {

} */

/* xl */
/* @media screen and (min-width: 1280px) {

} */

/* 2xl */
/* @media screen and (min-width: 1536px) {

} */



/* Prices Block */

.price-book {
  background: var(--color-dark);
  border-radius: 0 10rem 0 10rem;
  margin-top: 9rem;
}

.prices__heading {
  padding: 5rem 0 4rem 0;
  margin-left: 1rem;
  font-size: 4rem;
  font-weight: 800;
}

.prices__info-box {
  margin: 1rem;
  background: var(--color-light);
  border-radius: 1rem 10rem 1rem 1rem;
}

.prices__info-list {
  display: flex;
  flex-direction: column;
  color: var(--color-dark);
  list-style-type: disc;
  list-style-position: inside;
}

.prices__info {
  padding: 1.5rem 1.5rem;
}


/* xxs */
/* @media screen and (min-width: 300px) {

} */

/* xs */
@media screen and (min-width: 475px) {
  .prices__heading {
    font-size: 5rem;
  }
  
  .prices__info-box {

  }

  .prices__info {
    font-size: 2.25rem;
  }
}

/* sm */
/* @media screen and (min-width: 640px) {

} */

/* md */
/* @media screen and (min-width: 768px) {

} */

/* md-ish */
@media screen and (min-width: 900px) {
  .price-book {
    width: 70%;
    border-radius: 0 10rem 10rem 0;
  }

  .prices {
    width: 100%;
  }
}

/* lg */
/* @media screen and (min-width: 1024px) {

} */

/* xl */
/* @media screen and (min-width: 1280px) {

} */

/* 2xl */
/* @media screen and (min-width: 1536px) {

} */



/* Booking Block */

.booking {
  padding-top: 2rem;
}

.booking__flex {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.booking__image {
  height: 55rem;
  background: url(../images/bookingimg.webp);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 1rem;
  margin: 1rem;
}

.booking__header {
  font-size: 5.25rem;
  padding: 2rem 2rem;
  font-size: 4.5rem;
}

.booking__button {
  font-size: 2.25rem;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 700;
  margin: 2rem auto 3.5rem auto;
  padding: 1rem 3.5rem;
  border: solid 1px var(--color-light);
  border-radius: 3rem;
  cursor: pointer;
  transition: .2s;
}

.booking__button:hover {
  color: var(--color-dark);
  background-color: var(--color-light);
}


/* xs */
@media screen and (min-width: 400px) {
  .booking__image {
    height: 75rem;
  }

  .booking__header {
    font-size: 6rem;
  }

  .booking__button {
    font-size: 3rem;
    padding: 1rem 7rem;
  }
}

/* sm */
@media screen and (min-width: 640px) {
  .booking__image {
    height: 95rem;
  }

  .booking__header {
    font-size: 9rem;
  }

  .booking__button {
    font-size: 4rem;
    padding: 1rem 9rem;
    border-radius: 4rem;
  }
}

/* md */
@media screen and (min-width: 768px) {
  .booking__image {
    height: 110rem;
  }

  .booking__header {
    font-size: 11rem;
  }

  .booking__button {
    font-size: 5rem;
    padding: 1rem 11rem;
    border-radius: 5rem;
  }
}

/* md-ish */
@media screen and (min-width: 900px) {
  .booking {
    width: 100%;
  }

  .booking__button {
    font-size: 4rem;
    padding: 1rem 8rem;
    border-radius: 5rem;
  }
}

/* lg */
/* @media screen and (min-width: 1024px) {

} */

/* xl */
/* @media screen and (min-width: 1280px) {

} */

/* 2xl */
/* @media screen and (min-width: 1536px) {

} */



/* Footer Block */

.footer {
  background: #262626;
  margin-top: 9rem;
}

.footer__grid {
  display: grid;
  grid-template-rows: 2;
}

.footer__list {
  display: flex;
  align-items: center;
  padding-top: 4rem;
  padding-bottom: 0.5rem;
}

.footer__title {
  margin-right: auto;
  margin-left: .75rem;
}

.footer__icon {
  cursor: pointer;
  height: 3rem;
  width: 3rem;
  margin: 1.5rem .75rem;
}

svg:hover {
  fill: #aaaaaa;
}


/* xxs */
@media screen and (min-width: 300px) {
  .footer__title {
    font-size: 2.5rem;
  }
}

/* xs */
@media screen and (min-width: 475px) {
  .footer__title {
    font-size: 3rem;
  }
  
  .footer__icon {
    height: 3.5rem;
    width: 3.5rem;
    margin: 1.5rem 1rem;
  }
}

/* sm */
@media screen and (min-width: 640px) {
  .footer__title {
    font-size: 4rem;
  }
  
  .footer__icon {
    height: 4rem;
    width: 4rem;
    margin: 1.5rem 1.5rem;
  }
}

/* md */
/* @media screen and (min-width: 768px) {

} */

/* lg */
/* @media screen and (min-width: 1024px) {

} */

/* xl */
/* @media screen and (min-width: 1280px) {

} */

/* 2xl */
/* @media screen and (min-width: 1536px) {

} */



/* Contact Page */

.contact {
  margin-top: 9rem;
}

.contact__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact__img {
  width: 100%;
  margin-bottom: 3rem;
}

.contact__text {
  font-size: 2rem;
  color: var(--color-dark);
  margin: 2rem;
}

.contact__button {
  margin: 5rem auto;
  font-size: 4rem;
  font-weight: 800;
  text-align: center;
  font-family: 'Nunito Sans', sans-serif;
  color: var(--color-dark);
  border: 2px solid var(--color-dark);
  border-radius: 10rem;
  padding: 1rem 4rem;
  transition: all 0.2s;
}

.contact__button:hover {
  color: var(--color-light);
  background: var(--color-dark);
}


/* xxs */
/* @media screen and (min-width: 300px) {

} */

/* xs */
@media screen and (min-width: 475px) {
  .contact__text {
    font-size: 2.5rem;
  }
  
  .contact__button {
    font-size: 5rem;
  }
}

/* sm */
@media screen and (min-width: 640px) {
  .contact__img {
    width: 66%%;
  }
  
  .contact__text {
    font-size: 3rem;
  }
  
  .contact__button {
    font-size: 6rem;
    padding: 1.5rem 7rem;
    border-radius: 15rem;
  }
}

/* md */
@media screen and (min-width: 768px) {
  .contact {
    margin-top: 3rem;
  }

  .contact__img {
    width: 50%;
  }

  .contact__text {
    font-size: 2.5rem;
  }

  .contact__button {
    font-size: 4rem;
    padding: 1.5rem 6rem;
    border-radius: 15rem;
  }
}

/* lg */
@media screen and (min-width: 1024px) {
  .contact {
    margin-top: 0;
  }

  .contact__img {
    width: 40%;
  }
}

/* xl */
/* @media screen and (min-width: 1280px) {

} */

/* 2xl */
/* @media screen and (min-width: 1536px) {

} */



/* About Page */

.gallery {
  padding: 4rem 0;
  background: var(--color-dark);
}

.gallery__grid {
  display: grid;
  grid-template-columns: repeat(2, 14rem);
  grid-template-rows: repeat(2, 30rem);
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.gallery__img {
  object-fit: cover;
  height: 30rem;
  width: 14rem;
  border-radius: 15px;
}

#img1 {
  object-position: center;
}

#img2 {
  object-position: center;
}

#img3 {
  object-position: -1rem;
}

#img4 {
  object-position: center;
}

.about {
  color: var(--color-dark);
  background: var(--color-dark);
}

.about__container {
  background: var(--color-light);
  border-radius: 10px 10px 0 0;
}

.about__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 9rem;
}

.about__heading {
  padding-top: 2rem;
  padding-bottom: 4rem;
  font-size: 5rem;
}

.about__img {
  background-color: var(--color-dark);
  height: 30rem;
  width: 30rem;
  border-radius: 100rem;
}

.about__text {
  font-family: 'Times New Roman', Times, serif;
  margin-top: 3rem;
  padding: 1rem 1.5rem;
}


/* xxs */
/* @media screen and (min-width: 300px) {

} */

/* xs */
/* @media screen and (min-width: 475px) {

} */

/* sm */
/* @media screen and (min-width: 640px) {

} */

/* md */
/* @media screen and (min-width: 768px) {

} */

/* lg */
/* @media screen and (min-width: 1024px) {

} */

/* xl */
/* @media screen and (min-width: 1280px) {

} */

/* 2xl */
/* @media screen and (min-width: 1536px) {

} */